.container {
  height: 100Vh;
  width: 100vw;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;


  .upload-files-container {
    animation: fadeIn 1s;
    background-color: transparent !important;
  }

  .drag-file-area {
    text-align: center;
    font-size: 19px;
  }

  .drag-file-area h3 {
    font-size: 26px;
  }

  .drag-file-area .browse-files-text {
    color: #7b2cbf;
    font-weight: bolder;
    cursor: pointer;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .selected-image {
    img {
      max-width: 450px;
    }

    image-cropper {
      border-radius: 1rem;
    }
  }
}

.selected-image-section {
  animation: fadeIn 1s;
  max-width: 750px;

  .preview {
    border-radius: 1rem;
    border: 2px dashed #7b2cbf;
  }
}

.btn-active {
  background-color: #7b2cbf;
  color: #f7fff7;
}

.btn-my-primary:hover {
  background-color: #7023b4;
}

.btn-my-primary {
  background-color: #7b2cbf;
  color: #fff;
}

.btn-icon {
  margin-right: 8px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    height: 100%;
    display: inline-block;
  }

  .drop-down-card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
  }
}