/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Mr Brown";
  src: url(assets/font/lineto-brown-pro-bold.woff2);
  src: url(assets/font/lineto-brown-pro-light.woff2);
  src: url(assets/font/lineto-brown-pro-regular.woff2);
}

* {
  &:not(i){
    -webkit-font-smoothing: antialiased;
    font-family: "Mr Brown", sans-serif !important;
    font-weight: bold;
  }
  .btn{
    border-radius: 1rem;
  }
}

body {
  margin: 0px;
  padding: 0px;
  // --cropper-outline-color: #08080827;
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
  
}